---
layout: layout.html
youtube-url: https://www.youtube.com/embed/iMO4VpgAFGQ
timeline:
  title: Work Experience
  lines:
    - title: 2021 – 2022
      text: Language Coach and Consultant Italki
    - title: 2016 - 2019
      text: Online English Teacher Hujiang Education Company Ltd.
    - title: 2016 - 2017
      text: Art Instructor and Director of International Affairs Rajamangala University of Technology Lanna
    - title: 2010 - 2014
      text: Art and Social Studies Teacher Varee Chiang Mai International School
    - title: 2008 - 2010
      text: Assistant to the Superintendent for International Affairs The American School of Puebla
timeline2:
  title: Education
  lines:
    - title: 2011 - 2012
      text: University of Nottingham Post Graduate Certificate in Education (international) with Merit
    - title: 2004 - 2020
      text: Bachelor's - Cultural Anthropology The University of California at Santa Cruz
bages:
  - IELTS examiner
  - DELTA qualified
certificates:
  - title: Certificate TESOL/TESL Oxford Seminars 2007
    text: 60 hour TESOL Certificate, which I studied in person at the Institution's facilities
main-text:
  title: About me
  text:
    - Hi! My name is Nicolas Luna! I was born in New Mexico, USA but I grew up in a small town in Mexico (Cholula). My mother is a writer and a literary editor and my father is a quantum chaos physicist. When I was 19 we moved to Germany for a year and since then the travel bug has gotten me! I have since lived in Hungary, the USA, Mexico and Thailand as well as traveled quite a bit. I studied Cultural Anthropology at UCSC and later got my PGCE (teaching degree) from the University of Nottingham. I am also a visual artist and a naturalist, so when I'm not teaching you can find me drawing or exploring nature!
    - My 14+ years of diverse teaching, learning and work experience have developed me into an extremely dynamic language coach, which allows me to give my students an absolutely personalized learning journey. My method is based on the Pareto Principle (80/20 rule) and the Fail Fast/Learn Fast Technique. Two of my specialties are helping people escape the dreaded Language Plateau and preparing them for public speaking, for which I have extensive experience, including coaching TEDx speakers. We will work hard but have a lot of fun as well. Allow me to help you reach your work and life goals for which language has been the main obstacle!
---

<section class="container-md home-page mb-4">

    <div class="row">
        <div class="col-xl-8 col-lg-8">
            <div class="ratio ratio-16x9 video-mp rounded">
                <iframe width="100%" height="auto" src="{{ youtube-url }}"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                <!-- <video src="images/video.mp4" controls></video> -->
            </div>

            <div class="tag-list">
                {% for bage in bages %}
                <div class="tag">{{ bage }}</div>
                {% endfor %}
            </div>
            <p class="h4">{{ main-text.title }}</p>
            {% for p in main-text.text %}
            <p class="prg mx-0">{{ p }}</p>
            {% endfor %}
            <div class="msection">
                <p class="h4 hsl">My teaching material</p>
                <div class="material-parent d-flex flex-row flex-wrap">
                    <div class="material"><i class="icon s32 file"></i><span>Documents</span></div>
                    <div class="material"><i class="icon s32 news"></i><span>Articles and news</span></div>
                    <div class="material"><i class="icon s32 pdf"></i><span>PDF file</span></div>
                    <div class="material"><i class="icon s32 pres"></i><span>Presentation slides/PPT</span>
                    </div>
                    <div class="material"><i class="icon s32 audio"></i><span>Audio files</span></div>
                    <div class="material"><i class="icon s32 check"></i><span>Quizzes</span></div>
                    <div class="material"><i class="icon s32 image"></i><span>Image files</span></div>
                    <div class="material"><i class="icon s32 video"></i><span>Video files</span></div>
                    <div class="material"><i class="icon s32 tach"></i><span>Test templates and examples</span>
                    </div>
                    <div class="material"><i class="icon s32 class"></i><span>Homework Assignments</span></div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 ms-lg-auto">
            <p class="h4 mx-minus hsm">{{ timeline.title }}</p>
            <div class="timeline d-md-flex flex-md-row flex-md-wrap  d-flex flex-row flex-wrap">
            {% for line in timeline.lines %}
                <div class="txt">
                    <div class="title">{{ line.title }}</div>
                    <div class="subtxt">{{ line.text }}</div>
                </div>
            {% endfor %}
            </div>

            <p class="h4 mx-minus hsm">{{ timeline2.title }}</p>
            <div class="timeline d-md-flex flex-md-row flex-md-wrap d-flex flex-row flex-wrap">
            {% for line in timeline2.lines %}
                <div class="txt">
                    <div class="title">{{ line.title }}</div>
                    <div class="subtxt">{{ line.text }}</div>
                </div>
            {% endfor %}
            </div>

            {% for c in certificates %}
            <div class="certificate">
                <div class="title d-flex flex-xl-row flex-lg-column flex-sm-row"><i
                        class="icon s40 white certificate"></i><span>{{ c.title }}</span></div>
                <div class="text">{{ c.text }}</div>
            </div>
            {% endfor %}

        </div>

</section>

<section class="container section-margin">

    <div class="section-title d-flex flex-row justify-content-between">
        <p class="h4">Reviews</p>
        <div class="carousel-arrows">
            <a class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </a>
            <a class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </a>
        </div>
    </div>

    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="review">
                    <div class="review-item">
                        <div class="text">
                            Nicolas truly knows how to the teach the English language and he has developed his own
                            methods to help his students. My personal goal now is improving my speaking skills. What
                            I like about Nicolas is that he …
                        </div>
                        <div class="btm-info">
                            <div class="left">
                                <p class="name">Dmitry</p>
                                <p class="date">Dec 13, 2020</p>
                            </div>
                            <div class="right"><i class="icon user"></i></div>
                        </div>
                    </div>
                    <div class="review-item">
                        <div class="text">
                            After a first period with him fully focused on my english as a teacher, right now I call
                            him coach. We spend our classes improving the effectiveness of my communication and
                            clarifying my view about my …
                        </div>
                        <div class="btm-info">
                            <div class="left">
                                <p class="name">simone</p>
                                <p class="date">Jul 26, 2021</p>
                            </div>
                            <div class="right"><i class="icon user"></i></div>
                        </div>
                    </div>
                    <div class="review-item">
                        <div class="text">
                            Nicolas is so good at teaching me how to draw. He is patient and nice teacher. it's the
                            first time i try to draw things without others drawings. with nick's instructions, the
                            shadow, the gesture, the …
                        </div>
                        <div class="btm-info">
                            <div class="left">
                                <p class="name">David</p>
                                <p class="date">Dec 18, 2021</p>
                            </div>
                            <div class="right"><i class="icon user"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="review">
                    <div class="review-item">
                        <div class="text">
                            Nicolas truly knows how to the teach the English language and he has developed his own
                            methods to help his students. My personal goal now is improving my speaking skills. What
                            I like about Nicolas is that he …
                        </div>
                        <div class="btm-info">
                            <div class="left">
                                <p class="name">Dmitry</p>
                                <p class="date">Dec 13, 2020</p>
                            </div>
                            <div class="right"><i class="icon user"></i></div>
                        </div>
                    </div>
                    <div class="review-item">
                        <div class="text">
                            After a first period with him fully focused on my english as a teacher, right now I call
                            him coach. We spend our classes improving the effectiveness of my communication and
                            clarifying my view about my …
                        </div>
                        <div class="btm-info">
                            <div class="left">
                                <p class="name">simone</p>
                                <p class="date">Jul 26, 2021</p>
                            </div>
                            <div class="right"><i class="icon user"></i></div>
                        </div>
                    </div>
                    <div class="review-item">
                        <div class="text">
                            Nicolas is so good at teaching me how to draw. He is patient and nice teacher. it's the
                            first time i try to draw things without others drawings. with nick's instructions, the
                            shadow, the gesture, the …
                        </div>
                        <div class="btm-info">
                            <div class="left">
                                <p class="name">David</p>
                                <p class="date">Dec 18, 2021</p>
                            </div>
                            <div class="right"><i class="icon user"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="review">
                    <div class="review-item">
                        <div class="text">
                            Nicolas truly knows how to the teach the English language and he has developed his own
                            methods to help his students. My personal goal now is improving my speaking skills. What
                            I like about Nicolas is that he …
                        </div>
                        <div class="btm-info">
                            <div class="left">
                                <p class="name">Dmitry</p>
                                <p class="date">Dec 13, 2020</p>
                            </div>
                            <div class="right"><i class="icon user"></i></div>
                        </div>
                    </div>
                    <div class="review-item">
                        <div class="text">
                            After a first period with him fully focused on my english as a teacher, right now I call
                            him coach. We spend our classes improving the effectiveness of my communication and
                            clarifying my view about my …
                        </div>
                        <div class="btm-info">
                            <div class="left">
                                <p class="name">simone</p>
                                <p class="date">Jul 26, 2021</p>
                            </div>
                            <div class="right"><i class="icon user"></i></div>
                        </div>
                    </div>
                    <div class="review-item">
                        <div class="text">
                            Nicolas is so good at teaching me how to draw. He is patient and nice teacher. it's the
                            first time i try to draw things without others drawings. with nick's instructions, the
                            shadow, the gesture, the …
                        </div>
                        <div class="btm-info">
                            <div class="left">
                                <p class="name">David</p>
                                <p class="date">Dec 18, 2021</p>
                            </div>
                            <div class="right"><i class="icon user"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
