<nav class="navbar navbar-expand-lg navbar-light sticky-top">
    <div class="container-lg my-2 my-lg-0">
        <button class="navbar-toggler order-1" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand order-2 order-lg-1" href="/">Nicolas Luna</a>
        <div class="btn order-3 order-lg-3">
            <button class="btn btn-primary" type="button" onclick="window.location='#booking'">Book Now</button>
        </div>
        <div class="collapse order-4 order-lg-2 navbar-collapse px-2" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {% if page.url == '/' %}active{% endif %}">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item {% if page.url contains '/articles/' %}active{% endif %}">
                    <a class="nav-link" href="/articles">Articles</a>
                </li>
            </ul>
        </div>
    </div>
</nav>